/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
.jython_cache/
temp/

# system ignore
.DS_Store
Thumbs.db

# vscode
.vscode
*.code-workspace
**/.flattened-pom.xml
**/target/*

# 忽略MOC大写打头的文件和文件夹
MOCK*
